[2015-07-10 12:17] ceedubs opened #1 "StackOverflowError when running FoldableTests"
From current master (4982a3b):

[info] Exception encountered when attempting to run a suite with class name: cats.derived.FoldableTests *** ABORTED ***
[info]   java.lang.StackOverflowError:
[info]   at scala.Function1$$anonfun$andThen$1.apply(Function1.scala:52)
[info]   at scala.Function1$$anonfun$andThen$1.apply(Function1.scala:52)

[2015-07-11 16:37] milessabin commented on #1
I think this is actually most likely an issue with `Fold` in Cats itself ... should be fixed by https://github.com/non/cats/pull/391. Paging @non ...

[2015-12-01 15:25] milessabin commented on #1
Did you change anything in the tests to provoke that SOE? If not, then I think this is fixed, thanks to the upstream Cats changes I pointed at.

[2015-12-01 16:46] ceedubs commented on #1
I didn't change anything, so I suspect you are right. Closing.

[2015-12-01 16:46] #1 closed

[2015-12-02 09:45] milessabin commented on #1
Thanks :-)

[2016-12-16 15:30] kailuowang opened #29 "Implement a stack safe version of `tailRecM` for derived `Monad`"
@milessabin suggested that we might be able to " use the same mechanisms that are used in the implementation of the Foldable or Iterable derivations".

[2017-01-14 20:12] adamw opened #30 "2.12 build"
Would be great to have a 2.12 build. However it seems it's not as easy as extending the cross versions setting :)

[2017-01-14 21:23] kailuowang commented on #30
I am working on this one.

[2017-01-16 00:50] kailuowang commented on #30
@adamw do you need a 2.12 build against cats 0.8.1 ? or is it okay we have a 2.12 build against cats 0.9.0 (just released). Either case I plan to try get the release out Tuesday.

[2017-01-16 08:30] adamw commented on #30
A build against 0.9.0 would be just fine for me :) Thanks!

[2017-01-31 19:08] #30 closed

[2017-06-16 17:00] macalinao opened #38 "Add CI for 2.12.2"
See https://github.com/milessabin/kittens/pull/39

[2017-06-27 19:59] fommil opened #40 "cats.derived.show"
it would be useful to have typeclass derivation for `cats.Show` for (labelled) products and coproducts. I guess even unlabelled products/coproducts could be useful too but I have no usecase for that.

[2017-06-27 20:38] kailuowang commented on #40
I suppose that this generated instance should try to use the `show` instances of the fields as well. Should the derivation fail if there are fields missing show instances, or should it delegate to `toString`?

[2017-06-27 21:07] fommil commented on #40
avoid `toString` and just work for things with `LabelledGeneric` and (arguably) `Generic`.

It could perhaps include `""` around strings in case classes :smile:

I should imagine this is pretty simple, almost textbook, application of shapeless typeclass derivation.

[2017-06-30 21:50] dispalt opened #41 "MonoidK issue"
If I change the test to be

[code]

The generation fails, if I leave lbl as `Option[String]` it works, any ideas what's going on?

[2017-08-06 14:21] milessabin commented on #41
Do you have a `Monoid[Bar]` in scope (manual or derived)?

[2017-08-17 17:27] ryan-williams opened #49 "Minimal imports for automatic case-class Monoids"
I was pointed at this library [in gitter](https://gitter.im/milessabin/shapeless?at=5994a48a162adb6d2e01a076), thanks @joroKr21!

AFAICT, the easiest way to get automatic `cats.Monoid`s for case-classes is:

[code]

Is that right? I couldn't tell if the "`legacy`" bit implies there's a better way, / I was hoping for just one import 😆

IntelliJ's "Optimize Imports" wants to split these onto two lin

[2017-08-18 07:19] milessabin commented on #49
The name `legacy` is itself a legacy ... at one point I thought it might make sense for Cats to have a first class dependency on export-hook and use its mechanisms for prioritizing type class instances. `legacy` was meant to convey the idea of a mechanism that supported Cats prior to the arrival of export-hook.

Cats never got that export-hook dependency though, and I no longer think it would be a

[2017-08-18 07:19] #49 closed

[2017-08-24 10:20] DmytroMitin opened #51 "Monad, Monoid, MonoidK issues"
The following code works fine:
[code]
But if I try either of the following I have errors:
[code]
My build.sbt is
[code]
Error messages:
Monad https://gist.github.com/DmytroMitin/56e495ef5da17d36e103f9253e584d81
Monoid https://gist.github.com/DmytroMitin/9d3bca41a5e567f3c32e715ca928f2a1
MonoidK https://gist.github.com/DmytroMitin/f92cafda428f4608019618a230e76461

[2017-08-24 10:59] milessabin commented on #51
You're missing the import for the atomic instances (eg. for `Int`). Try adding,
[code]

[2017-08-24 11:57] DmytroMitin commented on #51
@milessabin
Thank you. With this additional import the code
[code]
produces errors https://gist.github.com/DmytroMitin/435bad2654dc3da5995aa46a73636443

[2017-08-24 14:31] DmytroMitin commented on #51
@milessabin
Maybe the thing is not in `import cats.instances.int._` since it brings Show[Int], Order[Int], CommutativeGroup[Int] only and they seem to be not needed for Monad. If I import `cats.instances.list._` without `cats.instances.int._` then standard Monad (without derivation) works:
`println(Monad[List].>>=(List(1, 2, 3))(x => List(x + 1, x * 2, x * x))) //List(2, 2, 1, 3, 4, 4, 4, 6, 9)`

[2017-08-29 18:48] kailuowang opened #53 "`MkApplicative` breaks in scala 2.12.3"
on scala 2.12.3, we start to get the following error

[error]  both method mkWithoutEmpty in trait MkApply1 of type [F[_]](implicit F: shapeless.Cached[cats.Functor[F]], implicit Fdb: shapeless.Cached[cats.Foldable[F]])cats.derived.MkApply[F]
[error]  and method mkApplicative in object MkApplicative of type [F[_]](implicit P: alleycats.Pure[F], implicit A: cats.Apply[F])cats.Applicative[F]
[error]

[2017-09-02 22:47] joroKr21 commented on #41
Hmm, in the test for `MonoidK`, if I import both:
[code]
the compiler goes into infinite loop. Same for `SemigroupK`. Any idea what is going on?

[2017-09-04 05:12] joroKr21 commented on #51
How do you expect to derive a `Monad[MyClass1]`? How would you implement `>>=`?

[2017-09-04 13:42] DmytroMitin commented on #51
@joroKr21
[code]
Such instance satisfies monad laws. For coproducts it's trickier.

Anyway suppose I wouldn't expect to have derived instances for Applicative and Monad (on contrary to Functor, Foldable and Traversable) as [in Haskell](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#extensions-to-the-deriving-mechanism).
What does `cats/derived/monad.scala` do in

[2017-09-04 14:07] kailuowang commented on #51
It's an experiment derivation of `Monad` instances. Right now it's too slow compilation time to be of practical use. I am proposing removing them.

[2017-09-04 14:27] DmytroMitin commented on #51
@kailuowang
Even if it's slow how does it work?
What is `Monad[MyClass1].>>=(MyClass1(1, 2, 3))(x => MyClass1(x + 1, x * 2, x * x))`? (Did I guess correctly that it's `MyClass1(2, 4, 9)`?)
And what is `Monad[MyTrait].>>=(MyClass1(1, 2, 3))(x => MyClass2(x + 1, x * 2, x * x))`?

[2017-09-05 13:55] kailuowang commented on #51
@DmytroMitin It doesn't generate for such classes. Please see the tests and code to see what it does. But again, my preference is to remove it all together.

[2017-09-06 01:50] bkirwi opened #55 "`sequenceGeneric` doesn't handle out-of-order named params"
For example:

[code]

One big advantage of the named-parameter syntax is that we don't need to care which order the parameters were declared in -- would be particularly useful here.

[2017-09-06 01:52] kailuowang commented on #55
Shouldn't be too hard to fix. I will take a look tomorrow.

[2017-09-06 19:59] #40 closed

[2017-09-06 20:00] kailuowang commented on #40
fixed by #48

[2017-09-06 20:00] #38 closed

[2017-09-06 20:16] #53 closed

[2017-09-06 20:16] #55 closed

[2017-09-06 22:08] joroKr21 commented on #41
Since export-hook was removed, the problem went away :man_shrugging:

[2017-09-07 09:41] joroKr21 commented on #41
Yes

[2017-09-07 15:15] kailuowang commented on #51
do you mind retry this with the latest RC0 release? note that `Monad` is removed.

[2017-09-07 15:23] #29 closed

[2017-09-07 15:23] kailuowang commented on #29
monad derivation removed.

[2017-09-07 15:29] kailuowang commented on #41
just tested with the latest RC0. The following code works.
[code]
Note that I used the new explicit methods to derive Monoids for both `Bar` and `ComplexProduct`

[2017-09-07 17:35] DmytroMitin commented on #51
@kailuowang
Thank you. Now Monoid works
[code]
but MonoidK doesn't
[code]
[code]

[2017-09-07 19:59] kailuowang commented on #51
Not sure a `MonoidK` for things like `case class MyClass2[A](a: A, a1: A)` can be derived.
How would you manually write a `MonoidK` instance for it?

[2017-09-07 21:41] joroKr21 opened #58 "Remove ConsK"
`ConsK` is not part of cats or alleycats and it was used only for the derivation of `Apply`, `Applicative` and `Monad` which are removed since 2b1cf75. I guess that makes `ConsK` kind of dead code so we can remove it too.

[2017-09-08 01:51] kailuowang commented on #58
It's from alleycats...

[2017-09-08 06:20] DmytroMitin commented on #51
@kailuowang You're right. We can define `MonoidK`'s `empty[A]` and `combineK[A]` only for `A : Monoid`, not for every `A`.

[2017-09-08 06:20] #51 closed

[2017-09-08 06:31] DmytroMitin commented on #51
@kailuowang Ok, but what does `cats/derived/monoidK.scala` do in kettens then?

[2017-09-08 10:43] joroKr21 commented on #58
My bad :innocent:

[2017-09-08 10:43] #58 closed

[2017-09-08 12:00] kailuowang commented on #51
Works for a `case class A[T](ot : Option [T])`

[2017-09-08 12:02] kailuowang commented on #58
No worries. Thanks for contributing!

[2017-09-08 19:16] kailuowang commented on #41
I am going to close this for now. If you still have questions feel free to reopen

[2017-09-08 19:16] #41 closed

[2017-09-22 22:56] joroKr21 opened #60 "[Scala 2] Instances for Records and Unions"
Kittens allows us to work with raw HLists and Coproducts:
[code]
However, we can't work with raw Records and Unions:
[code]
The same goes for other type classes as well. It mostly boils down to defining an instance for `FieldType[K, V]`. Are there any objections to adding them?

[2017-09-22 23:27] kailuowang commented on #60
:+1: from me.

[2017-10-01 03:05] joroKr21 commented on #60
I'm having some trouble with HKTs. For some reason:
[code]
I'm at a loss why there would be any difference between the two.

[2017-10-01 03:28] joroKr21 opened #61 "Remove unnecessary uses of Lazy"
For recursive types it seems that only `Lazy[gen.Repr]` is necessary. `Lazy[H]` and `Lazy[T]` for `H :: T` as well as `Lazy[L]` and `Lazy[R]` for `L :+: R` are redundant and we can remove them. Or at least we should remove `Lazy[T]` and `Lazy[R]` since there is no chance to see the same type in this position. The problem with `Lazy` is that it increases compile time and memory footprint. Even wors

[2017-10-01 10:00] kailuowang commented on #61
I suspected we can remove those. I can take a stab on them unless someone beat me to it ;)

[2017-10-01 10:01] kailuowang commented on #60
This is indeed puzzling. Implicit log didn't give you any clue? Removing the lazy might help debugging?

[2017-10-01 10:21] joroKr21 commented on #61
I'm still not sure what is the best structure. What do you think about `Lazy[Head]` and `Strict[Repr]`? This should avoid diverging implicit errors and at the same time keep laziness to a minimum.

[2017-10-01 10:31] joroKr21 opened #62 "Ambiguity between auto derived and sdtlib instances in Cats"
Here is an example with `Functor` and `Option`:
[code]
One possibility would be to export an implicit with the least specific type possible. For `Functor` that would mean something like this:
[code]
Currently this doesn't work for HKTs because of scala/bug#9445. E.g.
[code]
The existentials above are involved in the overloading resolution for generic methods which is the mechanism used for implici

[2017-10-02 21:37] kailuowang commented on #62
What I did with `Show` is that prioritize the existing instance over derived instance.
See https://github.com/milessabin/kittens/blob/master/core/src/main/scala/cats/derived/show.scala#L30-L43
Basically when deriving for a new type, it will try to search for a `Show` instance first, and then if not found it will try search for `MkShow` instance, which means that it will use the autoderivation in `

[2017-10-02 21:42] kailuowang commented on #61
` Lazy[Head]`, vanilla `Tail` and `Strict[Repr]` sounds worth a try.

[2017-10-03 02:39] joroKr21 commented on #62
I mean that they clash when we `import cats.derived.show._`, i.e. when we want auto derivation:
[code]

What you did for `MkShow` is make semiauto derivation deeper so that it can work on nested case classes. This makes sense, but it's orthogonal. We can have `MkShow` both be a value class and have semiauto derivation for nested case classes.

[2017-10-03 12:25] milessabin commented on #61
I don't recommend using `Strict` ...

In the short term if you can drop `Lazy` without breaking things then do that.

Longer term `Lazy` will all go away in favour of by-name implicits, `Cached` will go away in favour of general transparent instance caching and `Strict` will go away without a replacement.

[2017-10-04 15:40] kailuowang commented on #62
I apologize, I am not really following you. So with your change, does it do semiauto derivation without conflicting with the existing instance in scope? where are you proposing to place `implicit def deriveEmpty[A](implicit mk: MkEmpty[A]): Empty[A] = mk.value`?
Inside `MkEmpty` will you use `Empty` or `MkEmpty`?
Maybe a more complete example with `MkEmpty` and usage would help.

[2017-10-07 02:26] joroKr21 commented on #62
Yes, sorry if I was unclear, here's an example with `Semigroup`:
[code]
Then we can use automatic derivation without clashes:
[code]

[2017-10-07 03:23] kailuowang commented on #62
Interesting, what I didn't get is that by making `MkTC` a value class wrapping `TC`,
`implicit def deriveEmpty[A](implicit mk: MkEmpty[A]): Empty[A] = mk.value` somehow becomes least specific? While, if you just make `MkTC` inherit `TC`, then `implicit def deriveEmpty[A](implicit mk: MkEmpty[A]): Empty[A] = mk` has the same specificity as the other instance in scope, right?

I am curious which imp

[2017-10-07 07:35] joroKr21 commented on #62
Hmm, actually it will be enough to define `MkSemigroupDerivation` like this:
[code]
The important part is not to import the `mkSemigroup` implicits. There are two specificity rules that are at odds with each other:
1. `MkSemigroup[A] <:< Semigroup[A]` and is therefore more specific.
2. `Semigroup[(A, B)]` is more specific than `Semigroup[A]`

[2017-10-07 15:41] kailuowang commented on #62
if that works it effectively lower the priority of the derivation right? Will you be interested in a PR to change just `semigroup` or `show` first?

[2017-10-09 17:43] kailuowang commented on #62
It looks like for some type class, this method has the same specificity as the imported instance. So I am not sure we can apply it across the board.
If you want, you can try it with `Functor`

[2017-10-09 22:30] joroKr21 commented on #62
Yeah, it seems that specificity rules (or rather - subtyping) break down when it comes to HKT type parameters. Thanks very much, existentials:
[code]

[2017-10-10 00:50] kailuowang commented on #62
The semiautomatic derivation enabled in #63 is probably the best solution we can have for now .

[2017-10-10 00:52] kailuowang commented on #62
Shall we close this one?

[2017-10-10 19:11] kailuowang commented on #62
I am fine with keeping this one open, but my proposal is to disable auto derivation altogether and use semi-auto ones instead. A blanket auto derivation for everything in the file will always be kind of slippery in my view.

[2017-10-11 17:17] kailuowang opened #65 "Hash instance for cats"
blocked by cats. 1.0.0-RC1 release.

[2017-10-24 17:20] #61 closed

[2017-12-01 01:19] joroKr21 opened #72 "Save code duplication by using implicit OrElse combinator"
#63 introduced changes that make it convenient for the user to derive type classes for nested ADTs without introducing ambiguities, but the cost was some code duplication in Kittens. It just occurred to me that we can eliminate the boilerplate again by using an `A OrElse B` combinator which is essentially a copy of `Either` but tries to resolve implicitly first `A` and then `B`. Does that make sen

[2017-12-01 01:46] kailuowang commented on #72
That sounds promising, do you wanna give it a try?

[2017-12-01 02:10] joroKr21 commented on #72
I will :+1: My only concern is that a change like this would touch every file. Will try to break it down.

[2017-12-01 03:13] kailuowang commented on #72
You can try with one file to see if it works. I can change the rest if you don't have time

[2017-12-06 13:06] joroKr21 opened #74 "Compile time benchmarks"
It's clear that kittens is a heavy user of CI server cycles, but it would be nice to add some benchmarks for multiple reasons (also considering the soon to come 1.0.0 release):
* Track / prevent regressions
* Measure the impact of improvements to `scalac`
* Set expectations of users

[2017-12-15 15:42] durban opened #77 "Full-auto derivation"
Previously I've used `import cats.derived.eq._` to get fully automatic derivation. This is now deprecated, and the message says to "use cats.derive.eq instead". However, as far as I can tell, that doesn't really replaces the now deprecated solution (it's semi-automatic as described in #63).

Using `import cats.derived.MkEq._` seems to work. Is that now the recommended import?

[2017-12-15 15:51] kailuowang commented on #77
The main thing is that we removed the `ExportHook` which was the mechanism of managing priority of instances.  So `import cats.derived.MkEq._` works but it would probably clash with existing `Eq` instances in the scope. While if you use `implicit val e: Eq[T] = cats.derive.eq[T]` it would avoid clashing and respect the existing instances.
So a little bit more typing unfortunately but safer.

[2018-01-13 04:27] kailuowang commented on #77
We can apply the same design used in https://github.com/milessabin/kittens/pull/73 by @joroKr21 to all TC derivations to restore full-auto derivaton

[2018-01-13 21:13] durban commented on #77
Sounds good. (I'm using full-auto derivation, and I'd like to continue using it :-)

[2018-01-16 00:25] joroKr21 opened #82 "Restore full auto derivation"
Let's divide and conquer.
Similar to #73
If you have time, pick one and comment here:

- [x] `Empty`
- [ ] `EmptyK`
- [ ] `Eq`
- [ ] `Foldable`
- [x] `Functor`
- [ ] `Monoid`
- [ ] `MonoidK`
- [ ] `Pure`
- [ ] `Semigroup`
- [ ] `SemigroupK`
- [x] `Show`

[2018-01-16 13:27] kailuowang commented on #82
Thanks @joroKr21
I will work on `Show` today.

[2018-01-31 13:03] joroKr21 commented on #82
Sorry, I didn't have much time for this. Working on `EmptyK` now.
Duplicating the tests is a bit annoying but I don't see anything we can do here.

[2018-01-31 14:11] kailuowang commented on #82
I may find some time to work on `Eq` today

[2018-03-08 22:07] joroKr21 commented on #62
Fixed in Scala by scala/scala#6122 and scala/scala#6123. Also, Kittens now uses a more flexible scheme.

[2018-03-08 22:07] #62 closed

[2018-03-08 22:13] joroKr21 commented on #72
Superseded by #82

[2018-03-08 22:13] #72 closed

[2018-04-04 09:55] torgeirsh opened #87 "Deriving Order"
There seems to be no support for deriving Order. Is it just an oversight, or is a technical issue preventing it? shapeless-contrib used to have support for scalaz Order.

[2018-04-04 10:38] milessabin commented on #87
Not so much an oversight as Just Missing ... do you want to take a swing at it?

[2018-04-04 12:00] torgeirsh commented on #87
I had a brief try at duplicating the code for Eq, but I just get "could not find implicit value" errors, and unfortunately can't spend time debugging and getting familiar with the internals right now.

[2018-04-04 13:45] kailuowang commented on #87
@torgeirsh if you kindly submit a PR with your WIP, I will try take a stab when I get some free time.

[2018-04-04 18:39] torgeirsh commented on #87
@kailuowang Sorry, but I didn't keep the code, as it was a very quick hack outside the project tree. Basically I just copied the code for deriving Eq to a new file, replaced everything with Order, and sprinkled NotImplementedExceptions in the compare implementations.

[2018-04-05 13:51] kailuowang commented on #87
For products with multiple fields how do we order? prioritize from left to right?
How do we order coproduct? maybe only provide PartialOrder for coproduct?

[2018-04-05 14:01] milessabin commented on #87
I'd say yes to both.

[2018-04-05 14:08] torgeirsh commented on #87
For what it's worth, shapeless-contrib provided scalaz.Order for coproduct as well, with the following implementation:
[code]
I don't know what the pros and cons are, compared to PartialOrder.

[2018-04-05 14:12] fosskers opened #88 "Performance Regression"
When updating version numbers for [scalaz-and-cats](https://github.com/fosskers/scalaz-and-cats) I noticed a fairly stark performance regression for kittens-derived `Eq` between RC1 and RC3.

For a simple case-class:
[code]
Previously the deriving syntax was:
[code]
And now it is:
[code]
For two length-10000 `List[Foo]` who have the same contents but are not the same object, to compare every eleme

[2018-04-05 17:34] kailuowang commented on #87
I don't know how I feel about that. It seems even more arbitrary than the left to right order in product. For product, another question poped up: shall we skip on fields without order instance or simply fail the derivation there.
Now I think about it, I think it's rather arbitrary for classes with more than one field, and auto-derivation is not that necessary for classes with one field.
I am curio

[2018-04-05 17:58] milessabin commented on #87
I would fail if any fields don't have instances.

[2018-04-05 18:57] kailuowang commented on #87
"when any ordering" will do how about just use the hashCode?
[code]
The `shapeless.Refute` is here so that it doesn't conflict with types with existing Order instance in scope.

[2018-04-05 19:06] torgeirsh commented on #87
That's a clever idea! Unfortunately, I believe two different values can get the same hash code if you're unlucky?

[2018-04-05 19:14] kailuowang commented on #88
When we introduced `OrElse` we knew there was a performance penalty, but the benefit is to support using existing instances for fields with them. This is important because kittens allows you to derive instances for classes whose source you can't or don't want to change.  Being able to automatically reuse existing instances for certain types are important.

BTW, for your simple case classes a simpl

[2018-04-05 19:32] kailuowang commented on #87
sorry I was only suggesting it for test code. You can probably mix more things with hashCode to make it more consistent with the universal equality.
but now I do see a non-test-only use case for an arbitrary Order that is consistent with Eq.

[2018-04-05 19:58] fosskers commented on #88
Oh cool, I didn't realize the syntax could be simplified. I'll change it back.

Regardless of Vanilla Scala or ScalaZ, the fact remains that the kittens auto-gen'd instances are an order of magnitude slower than hand-written instances. How should this be approached? Is there a way to see what the generated code is? Forgive me for not knowing if this is macro-based or reflection or something.

[2018-04-05 21:45] kailuowang commented on #88
It's shapeless based,  so under the hook it's probably using `Product`'s `productElement` obviously with some overhead.  @milessabin might be able to point out some optimization that can be done?

[2018-04-06 09:05] milessabin commented on #88
shapeless doesn't use `Product` or `productElement` ... `Generic` maps directly between case classes and an `HList` representation.

There have been no significant changes in shapeless in this respect recently, so if you're seeing a slowdown between kittens RCs then I think it must be down to changes in kittens.

On the delta with handwritten code or a direct macro-based solution, that's most like

[2018-04-26 09:41] benhutchison commented on #87
"I do see a non-test-only use case for an arbitrary Order that is consistent with Eq" <= +1 to that

[2018-05-23 09:49] ykycxzsv opened #89 "Improve @implicitNotFound error messages"
I copied the code from documentation and replaced Show with Eq:
[code]
Compiled with Scala 2.12.4 (https://scastie.scala-lang.org/z4Ksxl4lR26ECCDjmGSAxQ)
[code]

[2018-05-23 10:40] kailuowang commented on #89
Need to import cats.implicits._ to get the Eq instance for Int. That would fix this.
We might be able to improve the puzzling error message. (I am on my phone, will check it out later)

[2018-05-24 12:08] ykycxzsv commented on #89
Thanks, that did the trick. I'll leave the issue open if you want to use it for improving the error message. In particular, the "Adaptation of argument list by inserting ()" part is very confusing

[2018-05-29 21:10] kailuowang commented on #82
fixed by #85

[2018-05-29 21:10] #82 closed

[2018-05-29 21:11] kailuowang commented on #77
fixed by #85

[2018-05-29 21:11] #77 closed

[2018-05-29 21:14] kailuowang commented on #87
Thanks to @Qi77Qi we have `PartialOrder` now. I think we just need an `Order` for `Product` to release 1.0.0

[2018-05-31 18:32] kailuowang commented on #87
fixed by #91

[2018-05-31 19:56] torgeirsh commented on #87
Great! I only see a Coproduct instance for PartialOrder though, does that mean it's not possible to derive Order for ADTs, or is there some magic behind the scenes?

[2018-05-31 22:02] kailuowang commented on #87
We just felt that an derived `Order` for a coproduct would be too arbitrary to compare different types. It's not really a deal breaker to me though. What do you think @milessabin

[2018-06-01 07:42] ykycxzsv commented on #87
If it's possible to provide the coproduct instances in local scope and reuse the product instances from the library, it's not too much of a pain point, but I really think an arbitrary ordering is useful for things like ordered trees. If a less arbitrary ordering is required for a type, it can be provided manually.

[2018-06-01 07:47] torgeirsh commented on #87
If it's possible to provide the coproduct instances in local scope and reuse the product instances from the library, it's not too much of a pain point, but I really think an arbitrary ordering is useful for things like ordered trees. If a less arbitrary ordering is required for a type, it can be provided manually.

[2018-06-01 10:07] milessabin commented on #87
I think it would make sense to provide a coproduct ordering as well.

[2018-06-01 14:03] kailuowang commented on #87
okay I'm reopening it.

[2018-06-07 13:06] #65 closed

[2018-06-08 09:45] torgeirsh commented on #87
This works for me in 1.0.0, thanks a lot!

[2018-06-08 09:45] #87 closed

[2018-06-08 18:03] fosskers commented on #88
Hey guys, just a reminder that this regression is still present in the new `1.0.0` release.

[2018-08-02 14:22] kailuowang opened #96 "[Meta] Make kitten an official outside module of Cats?"
1.0 has been released for a while, I wonder if it would be a good idea to list it as a Cats module in a separate repo like `cats-effect` and `cats-mtl`.
 The instance derivation could be very handy for Cats users. And having it there will help adoption.
What do you guys think?

[2018-08-02 21:32] milessabin commented on #96
That gets a big 👍from me 🙂

[2018-08-02 23:57] kailuowang commented on #96
Great. In that case, do you want to leave it as is or move GitHub repo to typelevel org?

[2018-08-03 13:47] milessabin commented on #96
What are the benefits of moving the repo? Any downsides?

[2018-08-03 14:23] kailuowang commented on #96
Not much difference either way to me. I asked merely because right now all other separate repo cats modules are under typelevel. `cats-effect` started under typelevel, owners of `mouse` and `cats-mtl` move them to under typelevel when they formally became Cats modules.

Downsides:
* Urls (github and git repo) change may cause confusion.
* Github repo ownership transferred to typelevel (but you are

[2018-08-03 15:24] milessabin commented on #96
OK, the main negative is the url change. I think Kittens is probably not widely known enough for that to matter all that much. Being under the typelevel organization is likely to give it more exposure than it has currently, which I think offsets that problem somewhat.

OK, I'll transfer and announce the move.

[2018-08-03 15:24] #96 closed

[2018-08-19 20:38] MateuszKubuszok opened #102 "Deriving one Show using implicitly passed Show argument"
I have following test case:

[code]

I see that I am able to generate `showString` value (1). But when I try to generalize (2) I get:

[code]

I am able to generate the right values for other type classes supported by Kittens, so I guess it is something unexpected?

I am using Kittens v1.1.1.

[2018-08-19 23:16] kubukoz commented on #102
I also tried to do semiauto derivation like in the README, but with a parameterized type:

[code]

Works for `Eq`. Also Kittens v1.1.1.

[2018-08-20 05:26] joroKr21 commented on #102
Deriving `Show` requires `Typeable` for the class name.
But this doesn't work:
[code]

[2018-08-20 05:38] joroKr21 commented on #102
This works ofc:
[code]

[2018-08-20 13:36] joroKr21 commented on #88
There is tension between the desire for performance and for full generality (including support for custom instances and recursive data types). If we could fully instantiate the comparing function at the time of returning the `Eq` instance we could at least avoid the access of lazy vals. Is there a way to achieve that?

[2018-08-23 14:56] MateuszKubuszok commented on #102
That answer resolves my issue.

[2018-08-23 14:56] #102 closed

[2018-12-09 08:56] chenharryhua opened #108 "scala.MatchError when derive functor"
the following code is successfully compiled but fail at runtime( throw MatchError exception)
[code]

by the way, no GADT encoding works fine:
[code]

[2018-12-10 14:17] milessabin commented on #108
This is mainly a bug in shapeless's `Generic1` ... it's not including `End` in the representation coproduct for `Gadt`.

That aside, I don't think this is quite the right approach here. To all intents and purposes, you're attempting to define a _restricted_ functor ... there are additional constraints on the `End` branch of the GADT which can't be generically satisfied by `Functor[Gadt]`.

So I th

[2018-12-11 08:17] chenharryhua commented on #108
Thanks, Miles. Haskell defined a few rules to derive functor: https://ghc.haskell.org/trac/ghc/wiki/Commentary/Compiler/DeriveFunctor . I paste here for easy access:
[code]
does kittens have similar rules? if yes, where can I find them?

[2018-12-11 08:40] milessabin commented on #108
Kittens has similar rules ... you'll see instances for `F[A]` and `Const[T]#λ`.

You might think that the const rule would handle the GADT branch for `End`, but unfortunately it doesn't. The problem is that mapping with, eg., an `Int => String` must always turn a `Gadt[Int]` into a Gadt[String]` and that can't be done without changing which branch of the GADT you're on. There's no straightforward

[2018-12-11 10:30] chenharryhua commented on #108
Yes, I don't think I can implement fmap by hand without cheating:
[code]
Thanks Miles again. appreciate your help.

[2018-12-11 12:07] milessabin commented on #108
A functor for `Gadt` is allowed to change the branch, so you could do something like this,
[code]
It's not quite cheating, but then it's most likely not what you want anyway.

[2018-12-11 22:37] chenharryhua commented on #108
I am not sure whether the map method in the code can be compiled ? :
[code]

[2019-03-19 17:22] joroKr21 opened #125 "Should Pure derivation utilize Empty for constants (e.g. primitive values)?"
This came up in #104 but it deserves its own issue.

For example we could derive `Pure[Interleaved]` where:
[code]

if we use the `Empty[Int]`, `Empty[Double]` and `Empty[String]` instances.

[2019-03-19 19:33] milessabin commented on #125
Yes, I think that would be reasonable. Or a `Monoid`. The key thing is that you have to be able to construct a value given a single `T`.

[2019-03-22 19:13] joroKr21 commented on #125
Monoid should give us Empty I think.

[2019-03-28 10:22] milessabin commented on #125
Do you mean in the sense of,
[code]
In which case, yes :-)

[2019-04-17 15:23] kailuowang opened #129 "Three derivations might not respect existing instances in scope"
Namely
[code]
These three are implemented differently from the other derivations. They probably don't respect existing instances.

[2019-04-21 17:59] joroKr21 commented on #129
The problem is that there are other inconsistencies as well. I will write up an issue / proposal what to do.

[2019-04-21 18:17] joroKr21 opened #130 "Most derived instances are not Serializable"
There is a `SerializableTest` in `KittensSuite` but it's rarely used. Unfortunately most instances cannot be made `Serializable` at the moment because of Shapeless `OrElse`.

[2019-04-23 21:56] joroKr21 opened #134 "Kittens 2.0 roadmap (resolve inconsistencies)"
We have discussed this already on other issues and on gitter but it's also good to have a dedicated issue. There are a lot of inconsistencies in kittens 1.0 which cannot be solved in a binary compatible way which dictates a 2.0 release to resolve them.

Here is my attempt to list the issues I noticed and propose solutions:
  1. Implicit prioritization scheme:
    There are a few orthogonal decisio

[2019-04-23 22:00] joroKr21 commented on #134
@kailuowang sorry for the wall of text, I hope it wouldn't discourage you to give opinions :smile:

[2019-04-24 01:27] kailuowang commented on #134
Thanks so much @joroKr21 . Overall I think this roadmap is good guidance for 2.0 release.

:+1:

:+1:

I'd say if you already have a bunch of `XXXInstancesN` class, it feels odd to have some instances in the companion object.

Strong 👍

I learned that users are using these derivations for convenience in test. So the fact that they are not safe for recursive ADT and arbitrary and doesn't bother the

[2019-04-24 07:23] joroKr21 commented on #134
Yeah I think I agree with you. Trying to prevent SO due to misuse is too brittle anyway.

[2019-04-24 09:19] milessabin commented on #134
For the issues with `Lazy` and SOEs, I strongly recommend you think about how to migrate to by-name implicits in 2.13+. At this point any effort spent on trying to improve `Lazy` is wasted IMO.

[2019-04-24 09:21] milessabin commented on #134
Agreed. However, if there's a _unique_ coproduct member which has an `EmptyK` instance, then the choice isn't arbitrary.

[2019-04-24 09:24] milessabin commented on #134
Overall: this is good stuff :+1:

[2019-04-24 13:04] joroKr21 commented on #134
That's a good point. It should be as simple as: replace all uses of `Lazy` with `=>`. But this means more or less a completely separate code base for 2.13.+ unless you have a better idea?

I didn't mean changing `Lazy` in any way but rather tweaking where it's used. However let's drop this idea.

Hmm, is there a nice way to express this?

[2019-04-24 13:14] milessabin commented on #134
It's just the absence of an `EmptyK` for the tail. Mutatis mutandis for `Pure`.

[2019-04-24 14:34] kailuowang commented on #134
If we don't want a completely separate code base for 2.13+, maybe the following could be possibly an intermediate solution?

Make `Lazy` a type alias, on 2.12- it just points to `shapeless.Lazy`
on 2.13+ it will be
[code]

[2019-04-27 02:24] joroKr21 commented on #134
Good idea, we should try.

We also need to solve the `Hash` issue for case classes. I don't quite understand the way it was solved in Cats though (typelevel/cats#2792).

[2019-04-27 11:06] kailuowang commented on #134
Didn't know hash for case class is different on 2.13 night need to copy from the official case class hash code again.

[2019-04-27 21:26] joroKr21 opened #141 "Apply and Applicative derivation"
`Apply` and `Applicative` can be composed (nested).
There is are valid instances for products (zip).

[2019-04-27 21:29] joroKr21 opened #142 "NonEmptyTraverse and Reducible derivation"
If `Traverse` and `Foldable` are possible, so should `NonEmptyTraverse` and `Reducible`.
But at this point code reuse between derivations might be necessary.

[2019-04-27 21:37] joroKr21 commented on #108
The conclusion from the discussion is that there is no mechanical way to define a `Functor` instances for the GADT example.

Which means that the derivation failing is a feature. In cases like this, one should think about the semantics of the instance, define it manually and test the laws.

[2019-04-27 21:37] #108 closed

[2019-04-27 21:41] joroKr21 commented on #60
I'm quite sure these mostly work now (or they will after #134 is complete).
So it's a matter of adding tests to close this issue.

[2019-04-27 21:48] joroKr21 commented on #89
I am adding error messages as part of #134
Currently:

Should we try to explain more? If so how much?

[2019-04-27 21:52] joroKr21 commented on #74
This didn't happen (it's difficult to set up). And after scala/scala#7067 problems are less likely to occur.
If there are compilation performance issues first try to migrate to latest Scala 2.12 / 2.13 and if the problem persists, open a dedicated issue.

[2019-04-27 21:52] #74 closed

[2019-04-27 23:49] kailuowang commented on #89
I think we can mention that kittens relies on instances for field types to drive instance for classes.

[2019-05-02 08:20] joroKr21 opened #144 "Contravariant and Invariant derivation"
I don't see anything preventing us from having those.

[2019-05-02 13:08] joroKr21 commented on #134
It doesn't seem to work with `IsCCons1` :disappointed: There the ambiguous implicits error pops up:
[code]

[2019-05-03 05:42] joroKr21 commented on #141
I am working on this.

See #143

[2019-05-14 07:26] #141 closed

[2019-05-29 04:35] joroKr21 commented on #125
Fixed by #151

[2019-05-29 04:35] #125 closed

[2019-05-29 04:36] joroKr21 commented on #129
Fixed by #151, #139 and #132

[2019-05-29 04:36] #129 closed

[2019-06-07 02:50] Michaelt293 opened #158 "Tests for ShowPretty fail on Windows"
Currently, newlines are hardcoded to `\n` in `ShowPretty`. This results in the tests for `ShowPretty` failing on Windows. The tests pass on Windows if `sys.props("line.separator")` is used instead.

Is this a good approach to solve this issue?

[2019-06-07 06:19] joroKr21 commented on #158
Good catch! I think we should use `System.lineSeparator`.

[2019-06-07 09:13] Michaelt293 commented on #158
@joroKr21 Raised a PR - https://github.com/typelevel/kittens/pull/159. Agree that `System.lineSeparator` is the better choice.

[2019-06-07 09:59] joroKr21 commented on #158
Fixed in #159

[2019-06-07 09:59] #158 closed

[2019-06-07 13:32] Michaelt293 commented on #134
I wonder whether there is room for a `ShowQuoted` type class where strings within case classes are wrapped in double quotes. This would allow code to copied and pasted straight out of the REPL and into tests which I think would be quite useful.

[2019-06-07 13:35] kailuowang commented on #134
@Michaelt293 I think that can be achieved by writing your own `Show` or  `ShowPretty` instance for `String` that wraps string with double quotes. If such an instance is in scope, when deriving the `Show` or `ShowPretty` instance of a case class, it will be used and give you the result you want.

[2019-06-07 13:47] Michaelt293 commented on #134
Yes, I have used that approach. Works quite well (just have to avoid importing the cats `Show` instance for `String`).

[2019-06-07 13:53] kailuowang commented on #134
I am not sure if the convenience justifies a new type class and derivation. Maybe a helper method would suffice?

[2019-06-07 13:56] Michaelt293 commented on #134
Agree. Seems like a helper method is the way to go. Thanks for the input.

[2019-06-25 19:57] joroKr21 commented on #130
We can make them Serializable in 2.13 because now we're using our own `OrElse` based on lazy implicits. Should we wait for a `shapeless` release for 2.11 and 2.12 or just copy it over (it's not a lot of code)?

[2019-06-27 20:54] #130 closed

[2019-06-28 13:41] joroKr21 commented on #134
I think we are ready to release. We can wait for stable cats 2.0 or do a milestone release as well.

[2019-06-28 13:48] kailuowang commented on #134
do we need a milesstone release? Cats 2.0-RC1 is close (although not 100% sure because it's pending scalatest 3.1.0-RC1, whose last ETA from maintainer was "tonight" a couple of days ago. )

[2019-06-28 13:52] joroKr21 commented on #134
We could also wait for Cats 2.0-RC1 and do an RC release, I don't mind that. We probably don't need a milestone release.

[2019-06-28 19:52] stephen-lazaro commented on #144
I can do `Contravariant`.

[2019-07-07 17:07] svalaskevicius opened #169 "Please can this be published for 2.13?"

[2019-07-09 05:18] joroKr21 commented on #169
I guess we are waiting for cats 2.0 at this point

[2019-07-09 11:26] kailuowang commented on #169
released 2.0.0-M1

[2019-07-09 11:27] #169 closed

[2019-08-31 13:15] joroKr21 commented on #88
We should check how it looks like on Scala 2.13

[2019-09-08 19:48] #144 closed

[2019-09-10 14:35] #134 closed

[2019-09-25 08:34] #89 closed

[2019-09-26 09:10] Josef-Vonasek opened #196 "Unable to derive Foldable."
The following code:
[code]
results in error `required MkFoldable[Foo], got MkFoldable[shapeless.Id]`.
Note that deriving functor with `semi.functor` works just fine.

[2019-09-26 14:12] joroKr21 commented on #196
Hi, would you mind sharing the definition of `Foo`?
Also you might want to try `semi.foldable[Foo]` (to make sure it's not a type inference issue)
And btw it's better to ask questions on the gitter channel: https://gitter.im/typelevel/kittens

[2019-09-26 14:36] Josef-Vonasek commented on #196
I have added the definition.

[2019-09-26 15:28] joroKr21 commented on #196
Do you have a `Foldable[Seq]` in scope? I'm suprised even `Functor[Seq]` would work.

[2019-09-27 14:20] Josef-Vonasek commented on #196
Alright, I have replaced the definition:
[code]
But I am still getting the same error.

[2019-09-27 14:33] joroKr21 commented on #196
Hmm can you share a bit more? It works for me.
Which version of Scala / Kittens are you using?

[2019-09-27 14:50] Josef-Vonasek commented on #196
Scala 2.12.8, kittens 1.2.1

[2019-09-27 16:51] joroKr21 commented on #196
Sorry I may not be on my computer until tomorrow.
You could try with `-Ypartial-unification` or with Scala 2.12.10

[2019-09-27 16:58] Josef-Vonasek commented on #196
Partial unification did not help, but updating scala did! Thank you.

[2019-09-27 16:58] #196 closed

[2019-10-04 21:52] larsrh opened #200 "add MiMa back"
https://github.com/typelevel/kittens/blob/c64f8dda63d7595a31d22cdfbd9301d5030397e3/build.sbt#L79

[2019-10-04 23:11] kailuowang commented on #200
Thanks for the issue

[2019-12-02 13:18] #200 closed

[2019-12-04 20:14] coutoPL opened #209 "Show instance derivation of GADT defined in companion object"
I have a problem with Show instance derivation of GADT defined in companion object.
Here is the example:

[code]

[code]

ends up with compilation error:
[code]

The workaround is pretty simple - I have to move `Error` definition outside of `Response` companion object:

[code]

Now it compiles.
Also there is no issue when `Error` is not GADT or have no generic type.

But still, looks like a bug. I

[2019-12-05 17:03] joroKr21 commented on #209
That's really weird

[2019-12-07 18:35] joroKr21 commented on #209
Also we can notice that the implicit error message regressed (in 2.12 shapeless' `Lazy` can forward to the original `implicitNotFound` message because it's implemented with a macro, but this doesn't work in 2.13).

[2019-12-14 10:16] joroKr21 commented on #209
See scala/scala#8596 for the error message

[2019-12-16 16:25] #142 closed

[2020-01-12 22:32] joroKr21 commented on #209
That's not a kittens problem. It's due to the use of `shapeless.Typeable`
(to get the case class name and type parameters):

[code]

[2020-02-21 17:10] #88 closed

[2020-02-21 17:47] joroKr21 commented on #88
@fosskers did you close this issue because it's stale or it has progressed?

[2020-02-21 18:07] fosskers commented on #88
Stale, I assume it's not relevant anymore.

[2020-04-21 08:32] joroKr21 commented on #209
The problem with shapeless is that we are missing `Typeable` derivation for sealed traits.
This is planned for shapeless 2.4.0. I will close this because there's nothing more we can do.

[2020-04-21 08:32] #209 closed

[2020-05-13 06:31] joroKr21 opened #236 "Create microsite"

[2020-05-13 06:32] joroKr21 opened #237 "Add typeclass derivation support matrix"
Rows: typeclasses
Columns: supported shapes (case classes, sealed traits, nested, const, etc.)

[2020-11-08 11:32] larsrh opened #262 "Migrate to GitHub Actions"

[2020-11-12 09:57] barisAtmn opened #263 "It doesn't work on AWS Lambda."

[2020-11-12 09:57] barisAtmn opened #264 "It doesn't work on AWS Lambda. Runtime : Java8 / Java11"

[2020-11-12 09:58] #263 closed

[2020-11-12 21:13] joroKr21 commented on #264
Hi @barisAtmn what error are getting specifically? Do you mean Coretto JDK?
Without instructions how to reproduce the problem it's unlikely that anyone would be able to help.

[2020-11-13 02:11] joroKr21 commented on #264
The tests work both on Java `8.0.275-amzn` and `11.0.9-amzn`

[2020-11-14 12:14] joroKr21 commented on #264
Reopen if you have more information

[2020-11-14 12:14] #264 closed

[2020-11-17 14:50] Lasering opened #267 "Errors deriving show with generic case classes"
In Scala 2.13.3, with kittens 2.2.0 ([scastie link](https://scastie.scala-lang.org/2YDxLDqrTlyvd84uFT50lw)):
[code]
`show1` compiles successfully. The `show2`, `show3`, and `show4` all output an error like:
[code]

I assume this is a bug, especially since `show1` compiles but `show3` does not.

Removing the variance annotations produces the same result.

The shows for `IpAddress` and `Cidr` are de

[2020-11-17 15:43] Lasering commented on #267
More debug ([scastie link](https://scastie.scala-lang.org/ShFUkTEDSjKpkWnROZJApw)):
[code]

[2020-11-17 15:44] joroKr21 commented on #267
I would check the conditions of the error message one by one.
In this case the issue is the lack of `Typeable` instance: https://scastie.scala-lang.org/7TkrqRQkQyaeRPi2U86EtA

[code]

[2020-11-17 15:58] Lasering commented on #267
If `Cidr[IP]` already has an instance of `Show`, why is the `Typeable` instance needed?

[2020-11-17 16:20] joroKr21 commented on #267
The `Typeable` instance is used to show the type of the case class (e.g. `PortForwarding[String](http, localhost, 80, 80)`). It's not an ideal solution but it's what shapeless provides. If we used `ClassTag` instead we would only get `PortForwarding(http, localhost, 80, 80)` (type parameter missing).

[2020-11-17 16:35] Lasering commented on #267
With this implementation for `Typeable[Cidr[IP]]` its working;

[code]

But I suspect this is not the correct implementation.

It should be documented when a "manual" typeable instance is needed. For example why is it needed in `Test3` but not in `Test4`? Simply because the `Test4.Cidr2` does not have a argument of type `IP`?

[2020-11-17 17:00] Lasering commented on #267
Using the code in the first post:

[code]
Both lines return `PortForwarding(protocol = udp, internalIpAddress = 192.168.1.1, internalPort = 8080, externalPort = 80)
`.  Given the `Typeable` I was expecting:
[code]

[2020-11-17 19:11] joroKr21 commented on #267
Oh hmm I don't remember why we remove the type parameters from if 🤔
https://github.com/typelevel/kittens/blob/master/core/src/main/scala/cats/derived/show.scala#L60

[2020-11-21 09:29] #262 closed

[2020-11-24 12:08] Lasering opened #272 "Show instance for Array"
There seems to be missing a show instance for array.

[2020-12-02 11:41] joroKr21 commented on #272
Shouldn't this be a part of `cats-core`? 🤔

[2020-12-02 12:29] #267 closed

[2020-12-02 14:14] Lasering commented on #272
Yup. I'll open the issue on cats since: https://scastie.scala-lang.org/oaPV84R9SKqp63KI6F4g8A

[2020-12-02 14:14] #272 closed

[2020-12-04 09:00] joroKr21 opened #282 "Port for Scala 3"
I'm not sure if we should wait for Shapeless 2 to cross compile.
Maybe it's better to start from scratch with Shapeless 3.

[2020-12-04 11:59] #237 closed

[2020-12-29 21:06] tnielens opened #290 "Traverser doesn't handle HNil"
The following examples shows that `Traverser` doesn't handle `HNil` properly while `Mapper`/`Sequencer` do well.
Is this a design error of Traverser not to include a traversable `F[_]` type parameter like `Sequencer` does?

[code]

[2020-12-30 12:53] joroKr21 commented on #290
Looks like an oversight. But then you would have to say `HNil.traverse[Option](toOptionPoly)`, i.e. specify `Option` explicitly.

[2021-02-11 22:17] Lasering opened #301 "ShowPretty for Map[K, V]"
It seems kittens does not derive showPretty for Map[K, V]

https://scastie.scala-lang.org/z8h9qwfrSXu2xIwARJ6ndg

[code]

[code]

[2021-02-28 16:03] joroKr21 commented on #301
We don't have any `ShowPretty` instances for the standard library. What is your use case? I think it only makes sense for ADTs and `ShowPretty extends Show` so you can just use `Show` in your own code and derive `ShowPretty` as needed.

[2021-04-21 23:17] #290 closed

[2021-04-21 23:17] joroKr21 commented on #301
Perhaps we could define instances for `Map` and `Iterable`

[2021-04-22 14:12] #301 closed

[2021-05-25 16:29] catostrophe commented on #282
@joroKr21 should his one be closed?

[2021-05-25 16:32] catostrophe commented on #282
Oh, you haven't released it. Sorry

[2021-05-26 04:39] joroKr21 commented on #282
It's a work in progress on the `dotty` branch

[2021-10-03 21:25] gvolpe commented on #282
@joroKr21 any plans to publish a snapshot of the `dotty` branch at least? I'd be keen to use it already :)

[2021-10-04 07:26] joroKr21 commented on #282
@gvolpe great idea 👍 will do as soon as I find some time

[2021-10-04 07:50] gvolpe commented on #282
Thanks @joroKr21, this is exciting stuff!

[2021-10-06 08:16] joroKr21 commented on #282
Published 3.0.0-M1

[2021-12-29 13:19] nigredo-tori opened #422 "[Scala 2] sequenceGeneric should handle variance"
Consider this [example](https://scastie.scala-lang.org/pS69myGUQDOWrGSfWp54NA):
[code]
This fails to compile:

error after rewriting to Playground.this.seq.applyDynamicNamed("apply")(scala.Tuple2("a1", 1.asRight), scala.Tuple2("a2", 2.asRight[String]))
possible cause: maybe a wrong Dynamic method signature?

I've played with a stripped down version of the `Sequencer` and `sequenceGeneric` (long st

[2021-12-30 04:35] nigredo-tori opened #423 "[Scala 2] Sequencer: Implicit complexity explodes when there is no common functor"
Consider this example:

[code]
The functors here don't align, which leads to a compilation error. But on my machine, it took the compiler **21 seconds** to arrive to that conclusion. This gets exponentially worse the more elements the list has, which makes `sequence`, `sequenceGeneric` etc. a pain to use for large structures.

This might be caused by the overly general derivation for `Sequencer` t

[2021-12-30 23:23] akreuzer commented on #282
I think you just have to add `coreJS` to this line. https://github.com/typelevel/kittens/blob/873ae0d9ef43e11884606391d34c63b3794f5d97/build.sbt#L69-L74

Thank you for the great work!

[2022-01-05 07:25] joroKr21 commented on #423
Maybe we could keep the invariant versions and do a pattern match on the type class for the applicative ones.
The only reason to have both is optimization.

[2022-01-05 07:47] joroKr21 commented on #422
I'm not sure what you mean by making it covariant - `F[_]` in `Sequencer` is a type member so it has no variance.

[2022-01-05 08:07] nigredo-tori commented on #422
@joroKr21, I meant defining `Sequencer` as `trait Sequencer[-L <: HList]` (note the `-`).

In the example above, the reason for the compilation failure is that we cannot derive `Sequencer[Either[Nothing, Int] :: Either[String, Int] :: HNil]` because `Either[Nothing, *]` and `Either[String, Int]` are different functors, even though `Sequencer` instance for `::` requires them to be the same. But we

[2022-01-12 18:01] gvolpe opened #425 "[Scala 3] - Wildcard derivation import not working"
Super simple reproduction:

[code]

It fails with the following error:

[code]

https://scastie.scala-lang.org/0q4XaUbJTqibfe78MuyzAA

---

Not sure whether this has already been discussed or not but I figured it might be better to keep track of it right here.

[2022-01-12 18:04] gvolpe commented on #425
Another example that adds `Eq`:

[code]

Fails with the following error:

[code]

https://scastie.scala-lang.org/HGVuAPc3TlmfGyirNlYVxw

[2022-01-12 18:08] gvolpe commented on #425
There are a few other (probably related) issues with `sealed trait` as well, if it's useful, I can try to produce a minimal reproducible example of this: https://github.com/gvolpe/trading/blob/main/modules/domain/src/main/scala/trading/commands/ForecastCommand.scala#L8

[2022-01-12 18:09] gvolpe commented on #425
Ok, I rushed into this, the first two are simply fixed with this import

[code]

The latter still does not work but I will create a proper issue with a repro.

[2022-01-12 18:19] gvolpe commented on #425
Hmmm this for some reason does not compile locally:

[code]

But it compiles just fine on Scastie: https://scastie.scala-lang.org/7Eqo9m1hRNCdhX55GTTBdw

I need to dig in more into this.

[2022-01-13 07:59] joroKr21 commented on #425
Kittens for Scala 3 is not ready yet - I think some functionality is missing / not implemented in the released version.
But we are blocked by a Scala compiler issue: lampepfl/dotty#13406
On the other hand we need a newer version that contains this fix: lampepfl/dotty#14003

[2022-01-13 08:54] gvolpe commented on #425
Thanks for the quick reply, @joroKr21 !

I understand it's not ready yet. Are you keeping track of the issues / limitations somewhere else? If not, it's probably a good idea to have them on this repo, no?

[2022-01-13 09:00] joroKr21 commented on #425
Yeah, I'm just not sure if this is a limitation that applies in general or we just need to get unblocked by fixing that Scala bug and release 😄

[2022-01-13 09:06] gvolpe commented on #425
Got you! Ok, if you don't mind, I'll leave this issue open but will refrain from opening new ones. I was aware of these issues for a while but I thought I should raise it here now that the project where I use Kittens is public 😄

[2022-01-13 16:49] TimWSpence commented on #425
Thanks @gvolpe! It's great to have feedback on what else we might need to fix once we're unblocked upstream 😅

[2022-01-14 02:33] joroKr21 commented on #425
Let's just go for it and release what we can - even if it's not working perfectly at least people can use it.
#427 is the first step. We still have a around half the type classes to port.

[2022-01-14 08:05] gvolpe commented on #425
That is awesome, thanks @joroKr21 🤩

[2022-02-13 19:03] joroKr21 commented on #282
Sorry for the delay - I released [v3.0.0-M3](https://github.com/typelevel/kittens/tree/v3.0.0-M3) with Scala.js support. Thanks to @armanbilge `sbt-typelevel` handles this stuff for us. We can also support Scala Native soon (but we need a Shapeless 3 release first).

[2022-02-14 08:52] gvolpe commented on #282
@joroKr21 you're probably aware but if not, know that both M2 and M3 stopped working with simple derivations of `Eq`, `Show`, etc, so I'm staying on M1 for the time being. More details: https://github.com/gvolpe/trading/runs/5177513241?check_suite_focus=true

[2022-02-14 09:03] joroKr21 commented on #282
@gvolpe you just need to `import cats.derived.*`

[2022-02-14 15:20] joroKr21 commented on #282
This causes a compiler crash for me 😞
[code]

[2022-02-14 15:22] joroKr21 commented on #282
@gvolpe looks like this works:
[code]

But the enum doesn't. I'm not sure what's the difference. But we don't have tests for enums yet.

[2022-02-14 15:24] joroKr21 commented on #282
This also works:
[code]

[2022-02-14 15:25] gvolpe commented on #282
Thanks for looking! So it looks like an issue then. Here's another case that works as well:

[code]

[2022-02-14 19:07] joroKr21 commented on #282
It doesn't for me

[2022-02-14 21:52] gvolpe commented on #282
What do you mean? That's actually compiling on Scastie using the first milestone 😄

[2022-02-15 07:00] joroKr21 commented on #282
Ah you mean Kittens 3.0 M1 - For some reason I thought of Apple M1.
Yeah there seems to be some issue with the current scheme or with Dotty itself.
We will have to investigate. But it only manifests for enum singletons (which are **not** objects I think).

[2022-02-15 09:01] gvolpe commented on #282
Ah yeah, sorry, I do not use Mac 😄

Do you want me to raise a separate issue to track the enum's issue? No rush anyway, should be expected in milestones :)

[2022-02-15 09:04] joroKr21 commented on #282
Yes please, that sounds good 👍

[2022-02-15 09:13] gvolpe opened #449 "Support enum derivations"
Using the latest milestone M3, this `Show` derivation fails to compile.

[code]

Scastie for M3: https://scastie.scala-lang.org/ipl7t5TmTwiU7fRzO6b0uw

---

In the first publish milestone M1, it works when having the right imports (`import cats.derived.semiauto.*` doesn't work).

[code]

Scastie for M1: https://scastie.scala-lang.org/AExX3biyTCW0f9cpzyCYRw

It seems enum singletons are not objects

[2022-02-15 10:53] andrzejressel commented on #449
I guess another weird behaviour like with Tuples. We should see if there are any commits in Dotty/shapeless related to enums.

[2022-02-15 10:58] andrzejressel commented on #449
I guess we found another weird case apart from recursive types: enums

[2022-02-15 19:40] andrzejressel commented on #449
Changing
[code]
to
[code]
Seems to fix the issue. I guess there is something wrong with Shapeless.

[2022-02-15 22:51] andrzejressel commented on #449
I've prepare minimal'ish example: https://scastie.scala-lang.org/andrzejressel/fuqm27fSSgyTxDlAulJCkw/7

And I've found even more weird behaviour: you can comment out product - it compiles fine ...

[2022-04-16 21:19] joroKr21 commented on #449
Fixed upstream (coming soon in Scala 3.1.3)

[2022-04-16 21:19] #449 closed

[2022-04-17 07:20] gvolpe commented on #449
Awesome! @joroKr21 will the current milestone work with Scala 3.1.3? Or this requires publishing a new milestone against this new Scala version? If so, please ping me when there's a new tag release, so I can try it out 🙏🏽

[2022-04-17 07:40] joroKr21 commented on #449
I don't know if it requires a new milestone but I pushed `v3.0.0-M4` anyway because we have extended the support for more type classes since.

[2022-04-17 07:44] gvolpe commented on #449
Thank you! 🚀

[2022-05-23 15:40] TimWSpence opened #473 "[Scala 3] Derivation for deeply nested types"
In scala 2, the following is ok:
[code]

but the following in scala 3 does not compile:
[code]
Naming and explicitly calling
[code]
does work however.

I see the scala 2 version uses `Split1` from Shapeless. Maybe we need something similar here?

[2022-05-23 17:34] joroKr21 commented on #473
Oh no, definitely no `Split1` 😂  - that is a horrible hack.
But worth it to investigate why it's not compiling 🤔

[2022-05-24 10:35] TimWSpence opened #474 "Usage of implicit keyword in scala 3 tests"
A bunch of our scala 3 only tests use `implicit`. We should move to using `given` and friends before `implicit` is deprecated

[2022-05-24 11:58] TimWSpence opened #476 "[Scala 3] derived instances are not stack-safe"
The following derivations are not stack-safe:
- `Functor`
- `Contravariant`

This is because the shapeless 3 `ErasedXXXInstances#map` has mutual recursion between the `Product` and `Coproduct` instances when dealing with recursive sum types like `List`

[2022-05-25 10:56] TimWSpence opened #477 "[Scala 3] Consistency on requiring `Or` instances for givens"
eg in `DerivedFunctor` we have
[code]

and in `DerivedSemigroupK` we have
[code]

These should probably be consistent. I would have thought that we would need the `Or` version but things seem to work fine without it

[2022-05-26 09:39] TimWSpence opened #479 "[Scala 3] Extra instances for `Covariant`, `Invariant`"
For scala 3, we should hopefully be able to support additional derived instances of `Invariant` and `Covariant` for nested type constructors. Specifically:
[code]

[2022-05-27 06:12] joroKr21 commented on #479
But both `Functor` and `Contravariant` are `Invariant` which composes.
Why do we need special instances for them?

[2022-05-27 13:22] TimWSpence opened #481 "[Scala 3] Roadmap to Scala 3 release"
Required:
- [x] [Always require `Or` instances for `given`s ](https://github.com/typelevel/kittens/issues/477)
- [x] [`implicit` keyword in scala 3 tests](https://github.com/typelevel/kittens/issues/474)
- [x] [Wildcard import derivation not working](https://github.com/typelevel/kittens/issues/425)
- [x] [Derive `ShowPretty`](https://github.com/typelevel/kittens/issues/488)
- [x] [Test derivation

[2022-05-27 13:24] TimWSpence commented on #282
I just created https://github.com/typelevel/kittens/issues/481 to track the outstanding issues blocking a full scala 3 release. Feel free to add to it if I've missed any!

[2022-05-27 13:26] TimWSpence opened #482 "[Scala 3] Sequence support"
https://github.com/typelevel/kittens#sequence-examples do we need to support this for scala 3 tuples?

[2022-05-27 13:35] TimWSpence opened #483 "[Scala 3] Missing derivations"
Currently the delta between scala 2 and scala 3 typeclass derivation is:
[code]

I assume that we want to implement these as well?

[2022-05-27 14:18] TimWSpence commented on #481
Yeah definitely. Woops, I meant to update that ticket to say that it isn't an exhaustive list of derivations that aren't stacksafe 🤦  One option I was considering is if we offered a separate `semiauto.stackSafeFunctor` that goes through `Eval`? (So no `auto` or `derives` syntax) I _think_ that would work but I guess we'd effectively be maintaining two derivations per typeclass which would suck

[2022-05-27 20:43] joroKr21 commented on #481
Yeah it's not great to maintain two derivations. Also a derivation based on `Eval` is complex because we have to duplicate all method signatures and match on the runtime type of the type class.

[2022-05-27 21:27] joroKr21 commented on #483
* `ShowPretty` - I think that's the most useful of the three 👍
* `ConsK` - I don't know about that one, it would require some research - we can always add it later
* `Iterable` - not really a type class and what does it offer on top of `Foldable` - maybe we can cut it

[2022-05-30 10:44] TimWSpence commented on #483
Yeah I was surprised that we derive `Iterable` - very happy to drop it 👍

[2022-05-30 19:50] joroKr21 commented on #474
Fixed by #485

[2022-05-30 19:50] #474 closed

[2022-05-31 09:43] TimWSpence opened #488 "[Scala 3] Derive ShowPretty"

[2022-05-31 09:43] TimWSpence opened #489 "[Scala 3] Derive ConsK"

[2022-05-31 09:43] #483 closed

[2022-06-06 10:08] #488 closed

[2022-06-06 16:04] TimWSpence opened #495 "[Scala 3] Test with enum-based adts"
We just copied the scala 2 adt definitions so we're not currently testing derivation for scala 3 enums

[2022-06-06 16:30] TimWSpence opened #496 "[Scala 3] Make `ShowPretty` instances `Serializable`"
Currently [failing in CI](https://github.com/typelevel/kittens/runs/6753567511?check_suite_focus=true)

[2022-06-08 19:44] TimWSpence commented on #496
Tested locally against dotty `438dfb024faa91f4239f346fa4f496a20c5e3d15` (with the fix from https://github.com/lampepfl/dotty/pull/15391) and it resolves the issue 🎉

[2022-06-10 15:24] TimWSpence commented on #495
Hey @wahtique I'm so sorry, I didn't see this and just opened https://github.com/typelevel/kittens/pull/498. But if you spot gaps in my test coverage and want to add more then that would be brilliant! Thanks so much for wanting to get involved ❤️

[2022-06-13 10:09] #495 closed

[2022-09-12 23:50] joroKr21 commented on #282
More details in #481

[2022-09-12 23:50] #282 closed

[2022-09-13 18:06] #425 closed

[2022-09-14 22:28] joroKr21 commented on #422
The issue is with the variance of `F[_]` and not `L`.
But we can't change the variance of `F[_]` in `Sequencer` because:
  1. It's a type member, not a type parameter
  2. It's used both as an argument (for `Parallel`) and as return type (`Out`)

Unfortunately there is nothing we can do. We are coming to the limitations of the Scala compiler. The syntax which supports calling `sequenceGeneric` wit

[2022-09-14 22:28] #422 closed

[2022-09-14 23:02] #423 closed

[2022-09-17 09:25] joroKr21 commented on #481
I will close this now that 3.0 is out. We can tackle the remaining issues independently.

[2022-09-17 09:25] #481 closed

[2022-09-30 13:57] isomarcte opened #529 "[Scala 2.12] Hash[A] Fails On 2.12"
Deriving a `Hash` instance for a type seems to fail, but only for 2.12.

For example, given the following code,

[code]

I get this error for 2.12 only.

[code]

Oddly, if I put the code which references the `semiauto.hash` inside the `package cats.derived`, things work.

[code]

[code]

Example code for this can be found here: https://github.com/isomarcte/kittens/tree/hash-failure-212

[2022-09-30 13:57] isomarcte commented on #529
I've not tested all the typeclass derivations, but so far this seems to be limited only to 2.12.x and _only_ to `Hash`. For example, I can get an `Order` just fine.

[2022-09-30 22:16] joroKr21 commented on #529
Does it work if `Cat` is not `AnyVal`?
Does it make a difference between Scala 2.12.16 and 2.12.17

[2022-10-01 11:32] isomarcte commented on #529
It fails with and without `AnyVal`.

It fails on both 2.12.16 and 2.12.17.